VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_MASTER_EMAIL=
VITE_STOCK_PIN=
VITE_TOKEN_PIN=
VITE_MASTER_PIN=
VITE_MANAGER_PIN=
